body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav a {
    margin-right: 15px;
}
h2 {
    color: #333;
}

form {
    margin: 20px 0;
}

form input, form button {
    margin-bottom: 10px;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container,
.user-list-container {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.user-list-container ul {
    list-style: none;
    padding: 0;
}

.user-list-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-list-container li:last-child {
    border-bottom: none;
}
